.publications {
    text-align: left;
    padding: 3rem 2rem 10rem;
    width: 66%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 1.25rem;
}
.pub-content {
    margin: 0.75rem 0;
}
.publication-link {
    color: black;
}
.publication-banner-image {
    width: 100%;
    height: 30rem;
    background-image: url("../../assets/contact2.jpg");
    background-size: cover;
    background-position: bottom center;
    margin-top: -74px;
}

@media only screen and (max-width: 860px) {
    .publications {
        width: unset;
        padding: 2.5rem 1.5rem;
    }
}